<form [formGroup]="myForm">
  <mat-form-field appearance="fill" formControlName="Firstname">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" formControlName="Lastname">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" formControlName="MiddleName">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" formControlName="MiddleName">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" formControlName="MiddleName">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

</form>
